[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
netcdf4 = "*"
matplotlib = "*"
scipy = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.8"
